<div class="row">
  <div class="col-md-4">
		<div class="page-header">
			<h1>Summoner Name: <%= @user.profile_name %></h1>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-4">
		<div class="page-header">
			<% if @user.summoner_name.nil? %>
				<h1>Not validated!</h1>
			<% else %>
				<h1>Validated!</h1>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-md-4">
		<div>
			<h3>Name_change_field: |Update_button|</h3>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<h3>Generate validation code</h3>
		</div>
	</div>
</div>

<%= simple_form_for(@user) do |f| %>
   	<%= f.input :profile_name, label: 'Your username please' %>
    <%= f.button :submit %>
<% end %>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= status.summoner_id %> </br>
			<%= status.content %> |
			<strong><%= status.value %></strong>
			<hr />
			<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		</div>
	<% end %>
<% end %>