<% if @ignindex.prize_id != nil %>
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
    
        <div class="well">
        
          <div class="row">
            <div class="col-md-6">  

              <div class="text-center">
                <div class="">
                   <%= image_tag("happy6.jpg", size: "400x250", class: "") %>
                </div>

                <div class="">
                  <h3 class="text-center">You just won: <%= @prize_description %></h3>
                  <h3 class="text-center">From: <%= @prize_vendor %></h3>
                  </div>
                </div>
              </div>

            <div class="col-md-6">
              <div class="text-center">
                 <%= image_tag("cora1.jpg", size: "500x225", class: "tony-image") %>
              </div>

              <div class="text-center">
                <h3>
                  Address: 656A Spadina St.
                </h3>
                <h3>
                  Phone: 416-922-1188
                </h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-center">
              <%= simple_form_for(@ignindex, url: ignindex_path(@ignindex), html: {class: 'form-hoizontal'}) do |f| %>
                <%= f.button :submit, "Accept", class: "btn btn-lg btn-success" %>
               <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% else %>



  <% if @status.challenge_description == @all_prize_desc[0] %>
  <div id="current_prize_desc" data-cpd="1">
  <% elsif @status.challenge_description == @all_prize_desc[1] %>
  <div id="current_prize_desc" data-cpd="2">
  <% else %>
   <div id="current_prize_desc" data-cpd="0">
  <% end %>
  </div>  

    <h1 class="page-header text-center">
         Go Play League & Come back for Results
    </h1>

    <div id="show_chal" class="new-challenge">

      <div class="container-fluid">

        <div class="row">

          <div class="col-md-6 text-center">

            <div class="row well">

              <div id="v3_ingame" class="">
                <div class="col-md-12">
                  <div class="text-left">
                    <h4 class="text-center"><strong><%= @status.summoner_name %></strong> - <i>waiting for game results</i></h4>
                    <h5>Victory: </h5>
                    <h5>Champion:</h5> 
                    <h5>K/D/A:</h5>
                    <h5>Length:</h5>
                  </div>
                </div>          
                

                <div class="col-md-12" style="margin-top: 20px">
                  <div class="col-md-10 text-left">

                    <div id="current_created_at" data-current_created="<%= @status.created_at.to_i %>"> </div>
                    <div id="after-20" class="">
                      <% if @status.trigger_timer > (Time.now.to_i - 300) %>
                        <div id="hit-unfinish" class="btn btn-warning finish-button">
                          Checking game data...
                        </div>

                        <div id="hit-finish" class="start-ghost">
                          <%= button_to "Get Game Results", @status, remote: true, method: :put, class: "btn btn-default finish-button" %>
                        </div>

                      <% else %>
                        <div id="hit-unfinish" class="start-ghost btn btn-warning finish-button">
                          Checking game data...
                        </div>

                        <div id="hit-finish" class="">
                          <%= button_to "Get Game Results", @status, remote: true, method: :put, class: "btn btn-default finish-button" %>
                        </div>
                      <% end %>
                    </div>

                  </div>

                  <div class="col-md-2 ">
                    <div class="">
                        <%= button_to "Cancel", @status, method: :delete, class: "btn btn-default " %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-6">
                    <h5 class="text-left">Started @: <%= @status.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M") %></h5>
                  </div>

                  <div class="col-md-6">
                    <div id="cg_id" data-status_id="<%= @status.id %>" >
                      <div id="cg-refresher" class="<%= @update_trigger %>"></div>
                      <h5 class="text-right">
                        Expires in:
                        <span id="challenge_timer" data-chal_time_value="<%= (@status.value + @status.created_at.to_i) %>" >
                        <%= (@status.value - (Time.now.to_i - @status.created_at.to_i))/60 %> min
                        <span>
                      </h5>
                    </div>
                  </div>                  
                </div>
              </div>

              <div id="v3_outgame" class="start-ghost">
                <h4 id="v3_prize_results"></h4>
                  <%= button_to "Play Again", new_status_path, class: "btn btn-success", :method => :get %>
                <h4 id="v3_game_results"></h4>
              </div>

            </div>
              <h3 id="game_end_instructions">
              </h3>            
          </div>
              
          <div class="col-md-6 text-center">
             <%= image_tag("cora1.jpg", size: "500x225") %>                
          </div>

        </div>
      </div>
    </div>

  <h5 class="text-center" style="margin-top:100px;">
    *Enabled for 5v5 Summoners Rift on NA servers
  </h5>
</div> 


<% end %>