<div class="row">
  <div class="col-md-6">
  <% if @ignindex.summoner_validated? %>
   <div class="page-header"> 
    <h1><strong>Current Challenge</strong></h1>
  </div>
  <% else %>
    <div class="page-header">
      <h1>You need to validate a summoner name to start!</h1>
    </div>
  <% end %>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h1 class="text-center"><strong>Total score: 
        <% if @score.week_2.nil? %>
          0
        <% else %>
          <%= @score.week_2 %>
        <% end %></strong> </h1>
    </div>
  </div>
</div>

<% if @statuses.where("value > ?", 0).find_by_user_id(current_user.id).nil? %>
  <div class="btn-group">
    <%= link_to 'New Challenge', new_status_path, class: "btn btn-success" %>
  </div>
<% else %>
  <% status = @statuses.where("value > ?", 0).find_by_user_id(current_user.id) %>
  <div class="well">
  <div class="challenge-history-running">
    <div class="row" >
      <div class="col-md-2">
        <div class="challenge-summoner"><strong><p class="text-center"><%= status.summoner_name %></p> </strong></div>
      </div>
      <div class="col-md-1">
        <div class="challenge-description"><%= status.points %> Points</p></div>
      </div>
      <div class="col-md-3">
        <div class="challenge-description"><%= status.challenge_description %></p></div>
      </div>
      <div class="col-md-2">
        <% if status.win_value == 0 %>
          <div class="challenge-description"><p>Defeat</p></div>
        <% elsif status.win_value == 3 %>
          <div class="challenge-description"><p>Canceled</p></div>
        <% elsif status.win_value == 2 %>
          <div class="challenge-description"><p>Victory</p></div>
        <% elsif status.win_value == 1 %>
          <div class="challenge-description"><p>Out of Time</p></div>
        <% else %>
          <div class="challenge-description"><p><strong>Minutes left: <%= status.value/60 %></strong></p></div>
        <% end %>
      </div>
      <div class="col-md-2">
        <div class="challenge-description">
        <% if status.value > 0 %>
          <% if (Time.now - status.updated_at) < 120 %>
            <p>Ping: good<p>
          <% elsif (Time.now - status.updated_at) < 180 %>
            <p>Ping: slow<p>
          <% elsif (Time.now - status.updated_at) < 240 %>
            <p>Ping: lagging<p>
          <% else %>
            <p>Ping: disconnected<p>
          <% end %>
        <% end %>
        </div>

      </div>
      <div class="col-md-2">
        <div class="challenge-description">
        <div class="meta">
          <p><%= time_ago_in_words(status.created_at) + " ago" %> |
          <span class="admin">
            <%= link_to "Cancel", status, method: :delete, data: { confirm: "Are you sure you want to cancel this challelenge? There is no going back" } %></p>
          </span>
        </div>
        </div>
      </div>
    </div>

  <% if status.kind == 1 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

  <% elsif status.kind == 2 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             2nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

  <% elsif status.kind == 3 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             3nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

    <% if status.game_3.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 3
        </div>
      </div>
    <% else %> 
      <% if status.game_3[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             3nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_3[:kills] %>/<%= status.game_3[:deaths] %>/<%= status.game_3[:assists] %> - <%= status.game_3[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

  <% end %>
  </div>
  </div>
<% end %> 

<div class="page-header">
  <h1 class="text-center"><strong>History</strong></h1>
</div>

<% @statuses.where("user_id = ?", current_user.id).where("value < ?", 1).order(created_at: :desc).each do |status| %>
<% if status.win_value == 0 %>
  <div class="challenge-history-loss">
<% elsif status.win_value == 3 %>
  <div class="challenge-history-loss">
<% elsif status.win_value == 2 %>
  <div class="challenge-history-win">
<% elsif status.win_value == 1 %>
  <div class="challenge-history-loss">
<% else %>
  <div class="challenge-history-running">
<% end %>

    <div class="row" >
      <div class="col-md-2">
        <div class="challenge-summoner"><strong><p class="text-center"><%= status.summoner_name %></p> </strong></div>
      </div>
      <div class="col-md-1">
        <div class="challenge-description"><p><%= status.points %> Points</p></div>
      </div>
      <div class="col-md-3">
        <div class="challenge-description"><p><%= status.challenge_description %></p></div>
      </div>
      <div class="col-md-2">
        <% if status.win_value == 0 %>
          <div class="challenge-description"><p>Defeat</p></div>
        <% elsif status.win_value == 3 %>
          <div class="challenge-description"><p>Canceled</p></div>
        <% elsif status.win_value == 2 %>
          <div class="challenge-description"><p>Victory</p></div>
        <% elsif status.win_value == 1 %>
          <div class="challenge-description"><p>Out of Time</p></div>
        <% else %>
          <div class="challenge-description"><p>Minutes left: <%= status.value/60 %></p></div>
        <% end %>
      </div>
      <div class="col-md-2">
        <div class="challenge-description">
        <% if status.value > 0 %>
          <% if (Time.now - status.updated_at) < 120 %>
            <p>Ping: good<p>
          <% elsif (Time.now - status.updated_at) < 180 %>
            <p>Ping: slow<p>
          <% elsif (Time.now - status.updated_at) < 240 %>
            <p>Ping: lagging<p>
          <% else %>
            <p>Ping: disconnected<p>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <div class="challenge-description">
        <div class="meta">
         <p><%= time_ago_in_words(status.created_at) + " ago" %> </p>
        </div>
      </div>
      </div>
    </div>
 
  <% if status.kind == 1 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

  <% elsif status.kind == 2 %>
   <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             2nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

<% elsif status.kind == 3 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             3nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

    <% if status.game_3.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 3
        </div>
      </div>
    <% else %> 
      <% if status.game_3[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             3nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_3[:kills] %>/<%= status.game_3[:deaths] %>/<%= status.game_3[:assists] %> - <%= status.game_3[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 


  <% end %>

</div>
<% end %>

