<div class="row">
  <div class="col-md-6">
  <% if Ignindex.find_by_user_id(current_user.id).summoner_validated? %>
    <% if Status.where("value > ?", 0).find_by_user_id(current_user.id).nil? %>
      <div class="page-header">
        <h1>No challenge running</h1>
      </div>

      <div class="btn-group">
        <%= link_to 'New Challenge', new_status_path, class: "btn btn-success" %>
      </div>
    
    <% else %>
      <div class="page-header">
        <h1>Current challenge</h1>
      </div>
      <% current_challenge = Status.where("value > ?", 0).find_by_user_id(current_user.id) %>
      <div class="status">
        
          <strong><%= current_challenge.challenge_description %> <%= current_challenge.summoner_id %></strong>
          <strong> <%= current_challenge.points %> 1 points for winning</strong>
          <% if current_challenge.value > 0 %>
            <p>Last updated: <%= (Time.now - current_challenge.updated_at) %></p>
          <% end %>

        <div>
          <% if current_challenge.value <= 0 %>
            <p>Challenge over</p>
            <% if current_challenge.win_value == 0 %>
              <p>Lost the challenge!<p>
            <% elsif current_challenge.win_value == 2 %>
              <p>You won! <%= current_challenge.kind %>
            <% else %>
              <p>Ran out of time</P>
            <% end %>
          <% else %>
            <p>Challnge still running!</p>
          <% end %>
        </div>

        <% if !current_challenge.game_1.empty? %>
          1st game: <%= current_challenge.game_1 %>
          <% if !current_challenge.game_2.empty? %>
            2nd game: <%= current_challenge.game_2 %>
          <% end %>
        <% end %>

        <p>Minutes left in challenge: <%= current_challenge.value/60 %>/180</p>
        <div class="meta">
          <%= link_to time_ago_in_words(current_challenge.created_at) + " ago", current_challenge %>
          <span class="admin">
              <%= link_to "Cancel", current_challenge, method: :delete, data: { confirm: "You feelin' lucky punk?" } %>
          </span>
        </div>
        
      </div>
      <% end %>

  <% else %>
    <div class="page-header">
      <h1>You need to validate a summoner name to start!</h1>
    </div>
  <% end %>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h1>Current score: 
        <% if Score.find_by_user_id(current_user.id).week_1.nil? %>
          0
        <% else %>
          <%= Score.find_by_user_id(current_user.id).week_1 %>
        <% end %> </h1>
    </div>
  </div>

</div>

<div class="page-header">
  <h1>Your history</h1>
</div>

<% @statuses.where("user_id = ?", current_user.id).order(created_at: :desc).each do |status| %>
<div class="status">
  
    <strong><%= status.challenge_description %> <%= status.summoner_id %></strong>
    <strong> <%= status.points %> 1 points for winning</strong>
    <% if status.value > 0 %>
      <p>Last updated: <%= (Time.now - status.updated_at) %></p>
    <% end %>

  <div>
    <% if status.value <= 0 %>
      <p>Challenge over</p>
      <% if status.win_value == 0 %>
        <p>Lost the challenge!<p>
      <% elsif status.win_value == 2 %>
        <p>You won! <%= status.kind %>
      <% else %>
        <p>Ran out of time</P>
      <% end %>
    <% else %>
      <p>Challnge still running!</p>
    <% end %>
  </div>

  <% if !status.game_1.empty? %>
    1st game: <%= status.game_1 %>
    <% if !status.game_2.empty? %>
      2nd game: <%= status.game_2 %>
    <% end %>
  <% end %>

  <p>Minutes left in challenge: <%= status.value/60 %>/180</p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
        <%= link_to "Cancel", status, method: :delete, data: { confirm: "You feelin' lucky punk?" } %>
    </span>
  </div>
  
</div>
<% end %>

