<div class="row">
  <div class="col-md-6">
  <% if Ignindex.find_by_user_id(current_user.id).summoner_validated? %>
    <% if Status.where("value > ?", 0).find_by_user_id(current_user.id).nil? %>
      <div class="page-header">
        <h1>No challenge running</h1>
      </div>

      <div class="btn-group">
        <%= link_to 'New Challenge', new_status_path, class: "btn btn-success" %>
      </div>
    
    <% else %>
      <div class="page-header">
        <h1>Current challenge</h1>
      </div>
      <% current_challenge = Status.where("value > ?", 0).find_by_user_id(current_user.id) %>
        <div class="status">
          <strong><string><%= current_challenge.summoner_name %></strong>
          <p><%= current_challenge.content %></p>
          <p>Points for completing: <%= current_challenge.points %></p>
          <p>Minutes left in challenge: <%= current_challenge.value/60 %></p>
          <div class="meta">
            <%= link_to time_ago_in_words(current_challenge.created_at) + " ago", current_challenge %>
            <span class="admin">
              <%= link_to "Cancel", current_challenge, method: :delete, data: { confirm: "You feelin' lucky punk?" } %>
            </span>
          </div>
        </div>
      <% end %>

  <% else %>
    <div class="page-header">
      <h1>You need to validate a summoner name to start!</h1>
    </div>
  <% end %>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h1>More content</h1>
      <p>Total score: xx<p>
    </div>
  </div>

</div>



<div class="page-header">
  <h1>Your history</h1>
</div>

<% @statuses.where("user_id = ?", current_user.id).order(created_at: :desc).each do |status| %>
<div class="status">
  
  <strong><string><%= status.summoner_name %></strong>
  <% if status.game_1.empty? %>
    <p>No game stats recorded yet!</p>
  <% else %>
    <% if status.queue_number == 1 %>
      <p>You won/lost this 1/1 challenge!<p>
      <%= status.game_1 %>
    <% elsif status.queue_number == 2 %>
      <% if status.game_2.empty? %>
        <p>This 2/2 challenge is still running</p>
        <%= status.game_1 %>
      <% else %>
      <p>You won/lost htis 2/2 challenge!</p>
      <%= status.game_1 %>
      <%= status.game_2 %>
      <% end %>
    <% end %>
  <% end %>

  <p>Minutes left in challenge: <%= status.value/60 %>/180</p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
        <%= link_to "Cancel", status, method: :delete, data: { confirm: "You feelin' lucky punk?" } %>
    </span>
  </div>
  
</div>
<% end %>

