<div class="row">
  <div class="col-md-6">
  <% if @ignindex.summoner_validated? %>
    <div class="page-header">
      <h1 class="text-center"><strong>Challenges left today: 
        <%= 5 - @statuses.where("user_id = ?", current_user.id).where("created_at > ?", Time.now - 22.hours).count %>
    </div>
  <% else %>
    <div class="page-header">
      <h1>You need a summoner name!</h1>
    </div>
  <% end %>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h1 class="text-center"><strong>Total score: 
        <% if @score.week_6.nil? %>
          0
        <% else %>
          <%= @score.week_6 %>
        <% end %></strong> </h1>
    </div>
  </div>

</div>

<% if @statuses.where(win_value: nil).find_by_user_id(current_user.id).nil? %>
  <div class="btn-group">
    <%= link_to 'New Challenge', new_status_path, class: "btn btn-success" %>
  </div>
<% else %>
  <% status = @statuses.where(win_value: nil).find_by_user_id(current_user.id) %>
  <div class="well">
  <div class="challenge-history-running">
    <div class="row" >
      <div class="col-md-2">
        <div class="challenge-summoner"><strong><p class="text-center"><%= status.summoner_name %></p> </strong></div>
      </div>
      <div class="col-md-1">
        <div class="challenge-description"><%= status.points %> Points</p></div>
      </div>
      <div class="col-md-3">
        <div class="challenge-description"><%= status.challenge_description %></p></div>
      </div>
      <div class="col-md-2">
        <% if status.win_value == 0 %>
          <div class="challenge-description"><p>Defeat</p></div>
        <% elsif status.win_value == 3 %>
          <div class="challenge-description"><p>Canceled</p></div>
        <% elsif status.win_value == 2 %>
          <div class="challenge-description"><p>Victory</p></div>
        <% elsif status.win_value == 1 %>
          <div class="challenge-description"><p>Out of Time</p></div>
        <% elsif status.pause_timer > 0 %>
          <div class="challenge-description"><p><strong>Unpauses in: <%= (360 - (Time.now.to_i - status.pause_timer))/60 %> min</strong></p></div>
        <% else %>
          <div class="challenge-description"><p><strong>Time left: <%= (status.value - (Time.now.to_i - status.created_at.to_i))/60 %> min</strong></p></div>
        <% end %>
      </div>

      <div class="col-md-1">
        <div class="challenge-description">

          <% if (Time.now.to_i - status.created_at.to_i) < 1200 && status.kind == 4 %>
            <%= link_to "Surrender", status, method: :delete, data: { confirm: "Canceling before 20 minutes costs 1 point, are you sure?" } %>
          <% elsif %>
            <%= link_to "Cancel", status, method: :delete, data: { confirm: "No penalty for canceling, are you sure?" } %>
          <% end %>

        </div>
      </div>

      <div class="col-md-2">
        <div class="challenge-description">

          <% if (Time.now.to_i - status.created_at.to_i) < 1200 %>
            <% if status.pause_timer == 0 %>
              <%= link_to "Pause", status, method: :put %>
            <% else %>
              <%= link_to "Unpause", status, method: :put %>
            <% end %>
          <% else %>
            <% if status.trigger_timer > (Time.now.to_i - 300) %>
             Updating game data...
            <% else %>
              <%= link_to "Finished", status, method: :put %>
            <% end %>
          <% end %>

        </div>
      </div>

    </div>

  <% if status.kind == 1 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

  <% elsif status.kind == 2 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             2nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

  <% elsif status.kind == 3 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             2nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

    <% if status.game_3.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 3
        </div>
      </div>
    <% else %> 
      <% if status.game_3[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             3nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_3[:kills] %>/<%= status.game_3[:deaths] %>/<%= status.game_3[:assists] %> - <%= status.game_3[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

  <% elsif status.kind == 4 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Choose one of these (16):
          <% @champion.find(status.content[1...status.content.length-1].split.map(&:to_i)).each do |x| %>
            <%= x.champion %>,
          <% end %>

        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

  <% end %>
  </div>
  </div>
<% end %> 

<div class="page-header">
  <h1 class="text-center"><strong>History</strong></h1>
</div>

<% @statuses.where("user_id = ?", current_user.id).where.not(win_value: nil).order(created_at: :desc).limit(15).each do |status| %> 
<% if status.win_value == 0 %>
  <div class="challenge-history-loss">
<% elsif status.win_value == 3 %>
  <div class="challenge-history-loss">
<% elsif status.win_value == 2 %>
  <div class="challenge-history-win">
<% elsif status.win_value == 1 %>
  <div class="challenge-history-loss">
<% else %>
  <div class="challenge-history-running">
<% end %>

    <div class="row" >
      <div class="col-md-2">
        <div class="challenge-summoner"><strong><p class="text-center"><%= status.summoner_name %></p> </strong></div>
      </div>
      <div class="col-md-1">
        <div class="challenge-description"><p><%= status.points %> Points</p></div>
      </div>
      <div class="col-md-3">
        <div class="challenge-description"><p><%= status.challenge_description %></p></div>
      </div>
      <div class="col-md-2">
        <% if status.win_value == 0 %>
          <div class="challenge-description"><p>Defeat</p></div>
        <% elsif status.win_value == 3 %>
          <div class="challenge-description"><p>Canceled</p></div>
        <% elsif status.win_value == 2 %>
          <div class="challenge-description"><p>Victory</p></div>
        <% elsif status.win_value == 1 %>
          <div class="challenge-description"><p>Out of Time</p></div>
        <% else %>
          <div class="challenge-description"><p>Minutes left: <%= status.value/60 %></p></div>
        <% end %>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <div class="challenge-description">
        <div class="meta">
         <p><%= time_ago_in_words(status.created_at) + " ago" %> </p>
        </div>
      </div>
      </div>
    </div>
 
  <% if status.kind == 1 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

  <% elsif status.kind == 4 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
  
  </br>
               Chosen from:
              <% @champion.find(status.content[1...status.content.length-1].split.map(&:to_i)).each do |x| %>
                <% if status.game_1[:champion_id] == x.champion %>
                <strong><%= x.champion %></strong> |
                <% else %>
                <%= x.champion %> |
                <% end %>
              <% end %>

        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes

             </br>

               Chosen from:
              <% @champion.find(status.content[1...status.content.length-1].split.map(&:to_i)).each do |x| %>
                <% if status.game_1[:champion_id] == x.champion %>
                <strong><%= x.champion %></strong> |
                <% else %>
                <%= x.champion %> |
                <% end %>
              <% end %>
               
   

          </div>
        </div>
    <% end %>

  <% elsif status.kind == 2 %>
   <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             2nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

<% elsif status.kind == 3 %>
    <% if status.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 1
        </div>
      </div>
    <% else %>
      <% if status.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= status.game_1[:champion_id] %>
               <%= status.game_1[:kills] %>/<%= status.game_1[:deaths] %>/<%= status.game_1[:assists] %> - <%= status.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %>

    <% if status.game_2.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 2
        </div>
      </div>
    <% else %> 
      <% if status.game_2[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             2nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_2[:kills] %>/<%= status.game_2[:deaths] %>/<%= status.game_2[:assists] %> - <%= status.game_2[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 

    <% if status.game_3.empty? %>
      <div class="panel panel-default">
        <div class="panel-body">
          Game 3
        </div>
      </div>
    <% else %> 
      <% if status.game_3[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
        <div class="panel-heading">
             3nd game: <%= status.game_2[:champion_id] %>
             <%= status.game_3[:kills] %>/<%= status.game_3[:deaths] %>/<%= status.game_3[:assists] %> - <%= status.game_3[:matchDuration].to_i/60 %> Minutes
        </div>
      </div>
    <% end %> 


  <% end %>

</div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>