<% if @score.prize_id != nil %>
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
    
        <div class="well">
        
    <div class="row">
      <div class="col-md-6">      
        <div class="prize-offer">
          <h3 class="text-center">You just won: <%= @prize_description %></h3>
          <h3 class="text-center">Prized by: <%= @prize_vendor %></h3>
          </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
       <%= image_tag("kayle.jpg", size: "480x300") %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= simple_form_for(@score, url: score_path(@score), html: {class: 'form-hoizontal'}) do |f| %>
          <%= f.button :submit, "Accept", class: "btn btn-lg btn-success" %>
          <%= f.button :submit, "Upgrade", class: "btn btn-lg btn-danger" %>
        <% end %>
    </div>
    </div>

        </div>
      </div>
    </div>
  </div>
<% else %>

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 class="text-center">
          <% if @ignindex.summoner_validated? %>
            Each challenge has a chance of being prized
          <% else %>
            You need a valid summoner!
          <% end %>
        </h1>
      </div>
    </div>

  </div>


  <% if @current_game.nil? %>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="btn-group">
          <%= link_to 'New Challenge', new_status_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% else %>
  <div class="well">
    <div class="challenge-history-running">
      <div class="row" >
        <div class="col-md-2">
          <div class="challenge-summoner"><strong><p class="text-center"><%= @current_game.summoner_name %></p> </strong></div>
        </div>
        <div class="col-md-5">
        <% if @current_game.kind == 6 %>
          <div class="challenge-description">Prized Game!</p></div>
        <% else %>
          <div class="challenge-description">Non-Prized Game</p></div>
        <% end %>
        </div>  


        <div class="col-md-2">
            <div class="challenge-description">
              <p><strong>
                Time left: <%= (@current_game.value - (Time.now.to_i - @current_game.created_at.to_i))/60 %> min
              </strong></p>
            </div>
        </div>

        <div class="col-md-1">
          <div class="challenge-description">
              <%= link_to "Cancel", @current_game, method: :delete, data: { confirm: "Canceling reduces your chances of getting a prized challenge, are you sure?" } %>
          </div>
        </div>

        <div class="col-md-2">
          <div class="challenge-description">

            <% if (Time.now.to_i - @current_game.created_at.to_i) < 1200 %>
              <% if @current_game.pause_timer == 0 %>
                <%= link_to "Pause", @current_game, method: :put %>
              <% else %>
                <%= link_to "Unpause", @current_game, method: :put %>
              <% end %>
            <% else %>
              <% if @current_game.trigger_timer > (Time.now.to_i - 300) %>
               Updating game data...
              <% else %>
                <%= link_to "Finished", @current_game, method: :put %>
              <% end %>
            <% end %>

          </div>
        </div>

      </div>
 
        <% if @current_game.kind == 6 %>
        <div class="panel panel-default">
          <div class="panel-body">
            
            <div class="row">
              <div class="col-md-6">
                <h4 class="text-center">
                  Winning this game gets you:
                </h4>
              </div>
              <div class="col-md-6">
                <p>
                  <%= @current_game.challenge_description %> <br>
                  From: <%= @current_game.content %> 
                </p>
              </div>
            </div>

          </div>
        </div>
        <% else %>
        <div class="panel panel-default">
          <div class="panel-body">
            Game 1
          </div>
        </div>
        <% end %>

    </div>
    </div>
  <% end %>
<% end %>
<div class="page-header">
  <h1 class="text-center"><strong>History</strong></h1>
</div>

<% @statuses.each do |hist| %>
<% if hist.win_value == 0 %>
  <div class="challenge-history-loss">
<% elsif hist.win_value == 3 %>
  <div class="challenge-history-loss">
<% elsif hist.win_value == 2 %>
  <div class="challenge-history-win">
<% elsif hist.win_value == 1 %>
  <div class="challenge-history-loss">
<% else %>
  <div class="challenge-history-running">
<% end %>

    <div class="row" >
      <div class="col-md-2">
        <div class="challenge-summoner"><strong><p class="text-center"><%= hist.summoner_name %></p> </strong></div>
      </div>
        <% if hist.kind == 6 %>
        <div class="col-md-3">
          <div class="challenge-description">Prized Game!</p></div>
        </div>  
        <% else %>
        <div class="col-md-3">
          <div class="challenge-description">Non-Prized Game</p></div>
        </div>  
        <% end %>
      <div class="col-md-3">
        <div class="challenge-description"><p><%= hist.challenge_description %></p></div>
      </div>
      <div class="col-md-2">
        <% if hist.win_value == 0 %>
          <div class="challenge-description"><p>Defeat</p></div>
        <% elsif hist.win_value == 3 %>
          <div class="challenge-description"><p>Canceled</p></div>
        <% elsif hist.win_value == 2 %>
          <div class="challenge-description"><p>Victory</p></div>
        <% elsif hist.win_value == 1 %>
          <div class="challenge-description"><p>Out of Time</p></div>
        <% else %>
          <div class="challenge-description"><p>Minutes left: <%= hist.value/60 %></p></div>
        <% end %>
      </div>
      <div class="col-md-2">
        <div class="challenge-description">
        <div class="meta">
         <p><%= time_ago_in_words(hist.created_at) + " ago" %> </p>
        </div>
      </div>
      </div>
    </div>

    <% if hist.game_1.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Game 1
        </div>
      </div>
    <% else %>
      <% if hist.game_1[:win_loss] == "true" %>
        <div class="panel panel-success">
      <% else %>
        <div class="panel panel-danger">
      <% end %>
          <div class="panel-heading">
               1st game: <%= hist.game_1[:champion_id] %>
               <%= hist.game_1[:kills] %>/<%= hist.game_1[:deaths] %>/<%= hist.game_1[:assists] %> - <%= hist.game_1[:matchDuration].to_i/60 %> Minutes
          </div>
        </div>
    <% end %> 

  </div>

<% end %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>