<%= render 'form' %>

<h4 class="text-center  ">Challenges are only enabled for NA Ranked 5v5 on Summoners Rift</h4>

<div class="new-challenge">

  <div class="row">
    <div class="col-md-6">
      <div class="well">

        <div class="row">
          <div class="col-md-3">
            <h4>Requirements:<h4>
            <h4>Points:<h4>
            <h4>Time limit:<h4>
          </div>
          <div class="col-md-6">
            <h4>Win the next game<h4>
            <h4>1<h4>
            <h4>65 Minutes<h4>
          </div>

          <div class="col-md-3" >
            <div class="form-actions">
              <div class="text-center">
                <div class="new-challenge2">
                  <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
                    <%= f.hidden_field :kind, :value=>1 %>
                    <%= f.button :submit, "Start", class: "btn btn-lg btn-success" %>
                  <% end %>
              </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>



    <div class="col-md-6">

      <div class="well">
        <div class="row">
          <div class="col-md-3">
            <h4>Requirements:<h4>
            <h4>Points:<h4>
            <h4>Time limit:<h4>
          </div>
          <div class="col-md-6">
            <h4>Win the next 2 games in a row<h4>
            <h4>4<h4>
            <h4>120 Minutes<h4>
          </div>

          <div class=".col-md-3" >
            <div class="form-actions">
              <div class="text-center">
                <div class="new-challenge2">
                  <%= button_to "Locked", new_status_path, :class => "btn btn-warning", :method => :get  %>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  
  </div>
</div>

<div class="new-challenge">

  <div class="row">
    <div class="col-md-6">
      <div class="well">

        <div class="row">
          <div class="col-md-3">
            <h4>Requirements:<h4>
            <h4>Points:<h4>
            <h4>Time limit:<h4>
          </div>
          <div class="col-md-6">
            <h4>Win 3 games in a row<h4>
            <h4>9<h4>
            <h4>180 Minutes<h4>
          </div>

          <div class="col-md-3" >
            <div class="form-actions">
              <div class="text-center">
                <div class="new-challenge2">
                  <%= button_to "Locked", new_status_path, :class => "btn btn-warning", :method => :get  %>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<div>
  <%= button_to "Back", challenges_path, :class => "btn btn-primary", :method => :get  %>
</div>
