<%= render 'form' %>

<% if @ignindex.prize_id != nil %>
  <div class="">
    <div class="row">
      <div class="col-md-12">
    
        <div class="well">
        
          <div class="row">
            <div class="col-md-6">      
              <div class="prize-offer">
                <h3 class="text-center">You just won: <%= @prize_description %></h3>
                <h3 class="text-center">From: <%= @prize_vendor %></h3>
                </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">

                 <%= image_tag("cora1.jpg", size: "480x300") %>                

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%= simple_form_for(@ignindex, url: ignindex_path(@ignindex), html: {class: 'form-hoizontal'}) do |f| %>
                <%= f.button :submit, "Accept", class: "btn btn-lg btn-success" %>
                <%= f.button :submit, "Upgrade", class: "btn btn-lg btn-danger", data: { confirm: "There are no prizes to upgrade to, this will reject the prize you won. Are you sure?" } %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% else %>

<div class="container-fluid"  style="margin-top: 0px;">

  <div class="row">

    <div class="col-md-6"  style="margin-top: 0px;">
      
      <h2>
        CURRENT ACHIEVMENT 
      </h2>
      <h6>(week of June 22nd)
      <% if @ignindex.ign_challenge_points > 0 %>
        , Completed (<%= (@ignindex.ign_challenge_points) %>) times
      <% end %>
      </h6>

      <div class="well">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@achievement.experience_earned/@achievement.experience_req.round(2)*100).round %>%; min-width: 2em;" >
            <%= (@achievement.experience_earned/@achievement.experience_req.round(2)*100).round %>%
          </div>
        </div>      

        <h5>Experience earned: <%= @achievement.experience_earned %>/<%= @achievement.experience_req %> </h5>
        <h5>Games won: <%= @achievement.games_played %> </h5>
        <h5>CORA letters remaining: <%= @achievement.can_spell_name_open %> </h5>
      </div>

      <div class="well">

          <h5>
            Up to a $20 pizza awarded at the end of each week (Sunday 5:00pm)
          </h5>
           
        <h4><u>Instructions to complete:</u></h4>
              <h5>
                Earn 10 experience points
                <ul>
                  <li>1exp per win recorded</li>
                  <li>2exp for spelling "CORA" by winning games with champions whose name starts with that letter (e.g. Corki, Olaf, Ryze, Ashe)</li>
                </ul>
              </h5>
             <h5>
             Bonus, each game won has a random chance to instantly win 1 of 15 $5 pizza prizes
            </h5> 
            (<a href="/current_achievement">learn more</a>)

      </div>


    </div>

    <div class="col-md-6 text-center">


      <div class="text-left">
        <h1>Cora Pizza</h1>
      </div>
       <%= image_tag("cora1.jpg", size: "500x225") %>                

        <div class="form-actions">
          <div class="text-center">
            <div>
              <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
                <%= f.hidden_field :kind, :value=>5 %>
                <%= f.button :submit, "Play Game", class: "btn btn-lg btn-success start-game-button" %>
              <% end %>
            </div>
          </div>
        </div>      


    </div>


  </div>

  </div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>