<div class="container">

  <%= render 'form' %>

  <% if @ignindex.prize_id != nil %>
    <div class="">
      <div class="row">
        <div class="col-md-12">
      
          <div class="well">
          
            <div class="row">
              <div class="col-md-6">      
                <div class="prize-offer">
                  <h3 class="text-center">You just won: <%= @prize_description %></h3>
                  <h3 class="text-center">From: <%= @prize_vendor %></h3>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">

                   <%= image_tag("cora1.jpg", size: "480x300") %>                

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <%= simple_form_for(@ignindex, url: ignindex_path(@ignindex), html: {class: 'form-hoizontal'}) do |f| %>
                  <%= f.button :submit, "Accept", class: "btn btn-lg btn-success" %>
                  <%= f.button :submit, "Upgrade", class: "btn btn-lg btn-danger", data: { confirm: "There are no prizes to upgrade to, this will reject the prize you won. Are you sure?" } %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% else %>

  <div class="container-fluid"  style="margin-top: 0px;">

    <div class="row">

      <div class="col-md-6"  style="margin-top: 0px;">
        
        <h2>
          CURRENT ACHIEVMENT 
        </h2>
        <h6>(week of June 22nd)
        <% if @ignindex.ign_challenge_points > 0 %>
          , Completed (<%= (@ignindex.ign_challenge_points) %>) times
        <% end %>
        </h6>

        <div class="well">
            <h5>Experience earned: <%= @achievement.experience_earned %>/<%= @achievement.experience_req %> </h5>
            <div class="progress basic-border">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@achievement.experience_earned/@achievement.experience_req.round(2)*100).round %>%; min-width: 2em;" >
                <%= (@achievement.experience_earned/@achievement.experience_req.round(2)*100).round %>%
              </div>
            </div>      

              
          <div class="row text-center">
              <div class="col-md-6">
                <h5>  
                  <% name_count = @achievement.can_spell_name.length %>
                  <% i = 0 %>
                  <% name_count.times do |x| %>
                  <% if @achievement.can_spell_name_open.include?(@achievement.can_spell_name[i]) %>
                    <%= @achievement.can_spell_name[i] %>
                  <% else %>
                    <strong><%= @achievement.can_spell_name[i] %></strong>
                  <% end %>
                  <% i = i += 1 %>
                  <% end %>
                   letters open: (<%= @achievement.can_spell_name_open %>) 
                </h5>
              </div>

              <div class="col-md-6">
                <h5>Games won: <%= @achievement.games_played %> </h5>
              </div>
          </div>
          </div>


        <div class="well">
          <h3 style="margin-top: 0px;">Cora Pizza Challenge</h3>
              <h5>
                Earn 10 experience points
                <ul>
                  <li>1exp per win</li>
                  <li>2exp per win with champions whose name starts with any letter from "CORA" (e.g. <strong>C</strong>orki, <strong>O</strong>laf, <strong>R</strong>yze, <strong>A</strong>she)</li>
                </ul>
              </h5>
              Prizes
              <ol>
                <li>Random Pizza prize (up to a Free Pizza) awarded Sundays @ 5pm</li>
                <ul>
                  <li>Complete challenge during the week</li>
                </ul>
                <li>Chance to win a Free Slice</li>
                <ul>
                  <li>Every win</li>
                </ul>
              </ol>
            (<a href="/current_achievement">learn more</a>)
        </div>  
      </div>

      <div class="col-md-6 text-center">


        <div class="text-left">
          <h1>Cora Pizza</h1>
        </div>
         <%= image_tag("cora1.jpg", size: "500x225") %>                

          <div class="form-actions">
            <div class="text-center">
              <div>
                <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
                  <%= f.hidden_field :kind, :value=>5 %>
                  <%= f.button :submit, "Play for Challenge", class: "btn btn-lg btn-lprimary start-game-button" %>
                <% end %>
              </div>
            </div>
          </div>      


      </div>


    </div>

  </div>

  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header text-center">Game History</h1>
        <% @game_history.each do |x| %>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <% if x.win_value == 2 %>
            <div class="panel panel-success">
            <% elsif x.win_value == 0 %>
             <div class="panel panel-danger">
            <% else %>
            <div class="panel panel-default">
            <% end %>
              <div class="panel-heading">
                <% if x.game_1 == {} %>
                No game recorded
                <% else %>
                <div class="row">
                  <h4>

                  <div class="col-md-4">
                  <%= x.game_1[:champion_id] %>
                  </div>

                  <div class="col-md-4 text-center">
                  <%= x.game_1[:kills] %>-<%= x.game_1[:deaths] %>-<%= x.game_1[:assists] %>
                  </div>

                  <div class="col-md-4 text-right">
                  <%= (x.game_1[:matchDuration]).to_i/60 %>m
                  </div>      
                                            
                  </h4>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
        <% end %>
    </div>
  </div>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>