<%= render 'form' %>

<div class="new-challenge">
<div class="row">
  <div class="col-md-6">
    <div class="well">

      <h3>Requirements: Win your next game<h3>
      <h3>Points: 1<h3>
      <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
        <div class="form-actions">
          <%= f.hidden_field :kind, :value=>1 %>
          <%= f.button :submit, "Start", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
 </div>
</div>


<div class="new-challenge">
<div class="row">
  <div class="col-md-6">
    <div class="well">

      <h3>Requirements: Win your next 2 game<h3>
      <h3>Points: 3<h3>
      <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
        <div class="form-actions">
          <%= f.hidden_field :kind, :value=>2 %>
          <%= f.button :submit, "Start", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    
    </div>
  </div>
 </div>
</div>


<%= link_to 'Back', statuses_path %>
