<%= render 'form' %>

<div class="new-challenge">
<div class="row">
  <div class="col-md-6">
    <div class="well">

      <h2>Win your next game: 1 point<h2>
      <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
        <div class="form-actions">
          <%= f.hidden_field :kind, :value=>1 %>
          <%= f.submit "Start", :name => "challenge_1" %>
        </div>
      <% end %>

    </div>
  </div>
 </div>
</div>


<div class="new-challenge">
<div class="row">
  <div class="col-md-6">
    <div class="well">

      <h2>Win two games in a row: 3 points<h2>
      <%= simple_form_for(@status, html: {class: 'form-hoizontal'}) do |f| %>
        <div class="form-actions">
          <%= f.hidden_field :kind, :value=>2 %>
          <%= f.button :submit, "Start" %>
        </div>
      <% end %>
    
    </div>
  </div>
 </div>
</div>


<%= link_to 'Back', statuses_path %>
