<p id="notice"><%= notice %></p>

<p>
  <strong>Summoner:</strong>
  <%= @status.summoner_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.challenge_description %>
</p>

<p>
  <strong>Points:</strong>
  <%= @status.points %>
</p>

<p>
  <strong>Time left:</strong>
  <%= @status.value/60 %> Minutes
</p>

<p>
  <strong>Started:</strong>
  <%= time_ago_in_words(@status.created_at) %> ago
</p>

<%= link_to 'Back to challenges Page', statuses_path %>
