<div class="page-header">
  <h3 class="text-center">$10 RP Prize</h3>
  <h4 class="text-center">Summoner with the highest score by Thursday Nov. 27th 10:00pm</h4>
</div>



<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <h4 class="text-center">Top 5 Last week</h4>
        <tr>
          <th></th>
          <th>Profile</th>
          <th>Score</th>
          <th>Playing as</th>
        </tr>
      </thead>

      <tbody> 
        <% x = 0 %>
        <% @top_profiles_last.each do |score| %>
          <% x+=1 %>
          <% if x == 1 %>
          <tr class="success">
          <% else %>
          <tr>
          <% end %>
            <td><%= x.ordinalize %></td>
            <td><%= @users.find(score.user_id).profile_name %></td>
            <td><%= score.week_2 %></td>
            <td><%= @ignindex.find_by_user_id(score.user_id).summoner_name %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
         <h4 class="text-center">Top 5 This Week</h4>
        <tr>
          <th></th>
          <th>Summoner</th>
          <th>Score</th>
          <th>Playing as</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% y = 0 %>
        <% @top_profiles.each do |score| %>
          <% y+=1 %>
          <tr>
            <td><%= y.ordinalize %></td>
            <td><%= @users.find(score.user_id).profile_name %></td>
            <td><%= score.week_3 %></td>
            <td><%= @ignindex.find_by_user_id(score.user_id).summoner_name %></td>
            <% if @status.where("user_id = ?", current_user.id).where("value > ?", 0).count == 1 %>
            <td>In challenge</td>
            <% else %>
            <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<h4 class="text-center">Laurent won $10 RP for last weeks high score!</h4>
<h5 class="text-center">Last score reset was Nov.20th 10:00pm</h5>