<div class="page-header">
  <h3 class="text-center">Win a Pizza for playing League!</h3>
  <h5 class="text-center"><i>Highest score on Jan 25th 5pm EST gets a free pizza</i></h5>
</div>



<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <h4 class="text-center">Last Competition Leaders</h4>
        <tr>
          <th></th>
          <th>Profile</th>
          <th>Score</th>
          <th>Playing as</th>
        </tr>
      </thead>

      <tbody> 
        <% x = 0 %>
        <% @top_profiles_last.each do |score| %>
          <% x+=1 %>
          <% if x == 1 %>
          <tr class="success">
          <% else %>
          <tr>
          <% end %>
            <td><%= x.ordinalize %></td>
            <td><%= @users.find(score.user_id).profile_name %></td>
            <td><%= score.week_5 %></td>
            <td><%= @ignindex.find_by_user_id(score.user_id).summoner_name %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
         <h4 class="text-center">Current Competition Leaders</h4>
        <tr>
          <th></th>
          <th>Summoner</th>
          <th>Score</th>
          <th>Playing as</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% y = 0 %>
        <% @top_profiles.each do |score| %>
          <% y+=1 %>
          <tr>
            <td><%= y.ordinalize %></td>
            <td><%= @users.find(score.user_id).profile_name %></td>
            <td><%= score.week_6 %></td>
            <td><%= @ignindex.find_by_user_id(score.user_id).summoner_name %></td>
            <% if @status.where("user_id = ?", score.user_id).where("win_value IS ?", nil).count > 0 %>
            <td>In challenge</td>
            <% else %>
            <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<h6 class="text-center">Jan.18st FuzzyBootsTaric won with 36 points</h6>
<h6 class="text-center">Dec.21st NA Daemonic won with 72 points</h6>
<h6 class="text-center">Dec.7th mlyddy won with 35 points</h6>
<h6 class="text-center">Nov.27th panoptic won with 13 points</h6>
<h6 class="text-center">Nov.20th Laurent won with 6 points</h6>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>