
<% if @score.prize_id != nil %>


  <h3 class="text-center">Current Prize</h3>
    <div class="well">
    <p class="text-center">
       <%= @prize_vendor %>
      </br> <%= @prize_description %>
    </p>

    <%= simple_form_for(@score, html: {class: 'form-hoizontal'}) do |f| %>
      <%= f.button :submit, "Accept", class: "btn btn-lg btn-success" %>
      <%= f.button :submit, "Upgrade", class: "btn btn-lg btn-danger" %>
    <% end %>
    </div>

<% else %>  
<% end %>

<div class="row">
  <div class="col-md-6">
    
    <div class="page-header">
      <h1 class="text-center"><strong>Your Prize history</strong></h1>
    </div>

    <% @history.each do |x| %>       
      <div class="well">
      
        <div class="row">
          <div class="col-md-6">      
            <div class="">
              <h4 class="text-center">Prize from:</h4>
              <h3 class="text-center"><%= x.vendor %></h3>
              <h4 class="text-center"><%= x.description %></h4>
              <h4 class="text-center">Reward Code<%= x.reward_code %></h4>
              <% if x.code != nil %>
                <h4 class="text-center">PIN: <%= x.code %></h4>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
           <%= image_tag("kayle.jpg", size: "250x150") %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  
  </div>

  <div class="col-md-6">
    
    <div class="page-header">
      <h1 class="text-center"><strong>All Prizes Won</strong></h1>
    </div>

    <h3 class="text-center">Coming soon!</h3>

  </div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>