<div class="page-header">
  <h3 class="text-center">$10 RP to whoever has the highest profile score by Thursday 20th 10:00pm</h3>
</div>



<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Profile</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody> 
        <% x = 0 %>
        <% @top_profiles.each do |score| %>
          <% x+=1 %>
          <% if x == 1 %>
          <tr class="success">
          <% else %>
          <tr>
          <% end %>
            <td><%= x.ordinalize %></td>
            <td><%= @users.find(score.user_id).profile_name %></td>
            <td><%= score.week_1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Summoner</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody>
        <% y = 0 %>
        <% @top_summoners.each do |score| %>
          <% y+=1 %>
          <tr>
            <td><%= y.ordinalize %></td>
            <td><%= score.summoner_name %></td>
            <td><%= score.week_1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

