<div class="container">
	<% if @display == 1 %>
		<div class="page-header">
			<h1>
				Dashboard - Cora Pizza
			</h1>
		</div>

		<h4>Page Hits: <%= @view_count %> (updates every ~24 hours)</h4>
		<h4>Summoners Registered: <%= @user_count %></h4>
		<h4>Hours Played: <%= @status_count %></h4>
		<h4>Prizes Won: <%= @prize_sent %></h4>
		<h4>Prizes Remaining: <%= @prize_remaining %></h4>
	<% else %>
		<div class="page-header">
			<h1>
				Dashboard - If you are a vendor, log-in to access
			</h1>
		</div>
	<% end %>
	                               		


	<div ></div>
</div>