     
<div class="row">
	<div class="teaser-context">

	<h1 class="text-center">Win  a Free Pizza for Playing League of Legends</h1>

		<div class="col-md-12">
		  	<div class="col-md-6">
		  		<div class="row" style="margin-top: 15px;">
	
					<div class="col-md-6 col-md-offset-2 intro-square" style="margin-top: 15px;">
						<h4>Pick Challenge</h4>
					</div>
		  		</div>

		  		<div class="row" style="margin-top: 15px;">

					<div class="col-md-6 col-md-offset-2 intro-square" style="margin-top: 15px;">
						<h4>Press 'Play for Challenge'</h4>
					</div>
		  		</div>	 

		  		<div class="row" style="margin-top: 15px;">
			
					<div class="col-md-6 col-md-offset-2 intro-diamond" style="margin-top: 15px;">
						<h4>Play League</h4>
					</div>
		  		</div>

		  		<div class="row" style="margin-top: 15px;">
			
					<div class="col-md-6 col-md-offset-2 intro-square" style="margin-top: 15px;">
						<h4>Check Challenge</h4>
					</div>
		  		</div>		  		

		  	</div>

		    <div class="col-md-6">
		    	<div class="text-center" style="margin-top: 20px;">
			    	<% if user_signed_in? %>
				    	<%= button_to "Start Now", new_status_path, :class => "btn btn-lprimary home-button", :method => :get  %>
			    	<% else %>

			    		<div class="well">
			    			<h3>See what you can win in your area</h3>
							
							<div class="row">
								<div class="col-md-6">
								    <%= form_for @ignindex do |t| %>
								      <%= t.text_field :postal_code, :placeholder => 'Postal/Zip Code' %>
								    <h6 class="">*US uses first 5-digits</h6>
								    <h6>*CAN uses first 3-digits</h6>
								</div>
								<div class="col-md-6">
								        <span id="">
								      <%= t.submit "Search Postal/Zip Code", class: "btn btn-large btn-primary" %>
								        </span>
								    <% end %>
								</div>
							</div>

			    		</div>


			    	<% end %>
		    	</div>
		    </div>
		</div>
<!-- 		<div class="col-md-12">
  			<div class="col-md-2 col-md-offset-2" style="margin-top:10px;">
  				<h3>
			  		<%= button_to "Learn More", current_achievement_path, :class => "btn btn-success green-button-long", :method => :get  %>
  				</h3>
  			</div>

		</div>
 -->
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>