<div class="row">
  <div class="col-md-6">
      <% if @geodeliver.region_id.nil? %>
        <h1 class="not-validated page-header">You need a valid prize zone </br> </h1>
      <% else %>
        <% if @tier1_description == "" %>

          <h1 class="not-validated page-header">No prizes for this zone</i></h1>
        <% else %>
          <h1 class="text-center">Thiz zone is prized by: </br> </h1>
            <h1 class="page-header text-center">
              <strong><i><%= @tier1_vendor %></i></strong>
            </h1>
        <% end %>
      <% end %>

  </div>

  <div class="col-md-6">

    <div class="page-header">
      <% if !@geodeliver.address.nil? %>
          <% if @geodeliver.address == "0" %>
            <h1 class="validated"><strong>Valid: </strong><%= @region_city %>, <%= @region_country %></h1> 
          <% elsif @geodeliver.address == "1" %>
            <h1 class="not-validated"><strong>Invalid:</strong> (Postal Code not valid)</h1> 
          <% elsif @geodeliver.address == "2" %>
            <h1 class="not-validated"><strong>Invalid: </strong>(Country not supported)</h1> 
          <% end %>
      <% else %>
        <h1 class="not-validated">Prizing Area: empty</h1>
      <% end %>
    </div>

     <div class="well">

        <%= form_for @geodeliver do |t| %>
          <%= t.text_field :postal_code, :placeholder => 'Update Postal/Zip Code' %>
          <%= t.select :country_code,  ["US", "CA", "Other"] %>
          <%= t.submit "Update Postal/Zip Code", class: "btn btn-large btn-primary" %>
        <% end %>
        <h6>*If you are in Canada, this form only uses the first 3 digits of your postal code</h6>
      </div>

  </div>
</div>


<% if !@geodeliver.region_id.nil? %>
  <div class="row">

    <% if @tier1_description == "" %>
    <% else %>
      <div class="col-md-6"> 
        <div class="well">

          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Prize 1</h3>
                  </div>
                <div class="panel-body text-center">
              <%= @tier1_description %>
            </div>
          </div>

        </div>
      </div>
    <% end %>

    <% if @tier2_description == "" %>
    <% else %>
      <div class="col-md-6"> 
        <div class="well">      

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Prize 2</h3>
                </div>
              <div class="panel-body text-center">
              <%= @tier2_description %>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  </div>
<% end %>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>