<div class="row">
	<div class="col-md-6">
		<h1>Challenges in your area (<%= @region_postal %>)</h1>
		<% if @tagged_for_prizing == true %>
			<div class="well">
				<h3>Cora Pizza Challenge</h3>
		        <h5>
		          Earn 10 experience points
		          <ul>
		            <li>1exp per win</li>
		            <li>2exp per win with champions whose name starts with any letter from "CORA" (e.g. <strong>C</strong>orki, <strong>O</strong>laf, <strong>R</strong>yze, <strong>A</strong>she)</li>
		          </ul>
		        </h5>
		        Prizes
	        	<ol>
		        	<li>Random Pizza prize (up to a Free Pizza) awarded Sundays @ 5pm</li>
			        <ul>
			        	<li>Complet challenge during the week</li>
			        </ul>
		        	<li>Chance to win a Free Slice</li>
		        	<ul>
			        	<li>Every win</li>
		        	</ul>
	        	</ol>
	        (<a href="/current_achievemnet">learn more</a>)
			</div>	

		<% else %>
			<h3>No prizes available: <strong><%= @region_postal %></strong></h3>
		<% end %>			
	</div>

	<div class="col-md-6" style="margin-top: 70px;">
		<% if @tagged_for_prizing == true %>
			<div class="well prize-well " >
				<h4>Cora Pizza Challenge</h4>
				
				<div class="row">
					<div class="col-md-8">
						<%= image_tag("cora1.jpg", size: "250x112") %> 
					</div>
					<div class="col-md-4">
					    <%= form_for @ignindex do |t| %>
					      <%= t.submit "Select", class: "btn btn-large btn-primary" %>
					    <% end %>			
					</div>
				</div>
			</div>

		<% else %>
			<h3>No prizes available: <strong><%= @region_postal %></strong></h3>
		<% end %>	
	</div>
</div>