<div class="container-fluid" style="min-height:600px">
	<div class="setup-background">

		<div class="row">

			<h1 class="text-center">Welcome! Let's get you ready to win some pizza</h1>
			
			<div class="col-md-6 col-md-offset-3">


				<div id="setup_progress_bar">
					<div class="breadcrumb-trail">
						<div class="breadcrumbs">
						    <div class="breadcrumb-cell first">
						    	<% if @setup_progress == 0 %>
								<div id="bread_1" class="breadcrumb active">				    	
						    	<% else %>
						   		<div id="bread_1" class="breadcrumb checked selectable">
						    	<% end %>
							    	<div class="breadcrumb-icon"></div>
							    	<span class="breadcrumb-label">Postal Code</span>
						     	</div>
						    </div>

						    <div class="breadcrumb-cell">
						    	<% if @setup_progress == 1 %>
								<div id="bread_2" class="breadcrumb active">				    	
						    	<% elsif @setup_progress > 1 %>
						   		<div id="bread_2" class="breadcrumb checked selectable">
						   		<% else %>
						   		<div id="bread_2" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Choose Prize</span>
								</div>
						    </div> 

						    <div class="breadcrumb-cell">
						    	<% if @setup_progress == 2 %>
								<div id="bread_2" class="breadcrumb active">				    	
						    	<% elsif @setup_progress > 2 %>
						   		<div id="bread_2" class="breadcrumb checked selectable">
						   		<% else %>
						   		<div id="bread_2" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Choose Game</span>
								</div>
						    </div>

						    <div class="breadcrumb-cell">
						    	<% if @setup_progress == 3 %>
								<div id="bread_2" class="breadcrumb active">				    	
						    	<% elsif @setup_progress > 3 %>
						   		<div id="bread_2" class="breadcrumb checked selectable">
						   		<% else %>
						   		<div id="bread_2" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Summoner Name</span>
								</div>
						    </div> 							     						    

						    <div class="breadcrumb-cell last">
						    	<% if @setup_progress == 4 %>
								<div id="bread_3" class="breadcrumb active">				    	
						   		<% else %>
						   		<div id="bread_3" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Play</span>
								</div>
						    </div>       

					  </div>
					</div>	
				</div>			



			</div>

		</div>

	</div>
</div>

<div class="container-fluid absolute-margin text-center">

<div class="row">
	<div class="col-md-12 col-md-offset-0">
		<% if @all_prize_desc == [] %>
			<h3>No prizes available for: <strong><%= @region_postal %></strong></h3> 
		<% else %>
			<h3>Prizes available for postal code: <strong><%= @region_postal %></strong></h3> 
		<% end %>
	</div>
</div>


	<div class="col-md-6 text-left"> 
		<h4>
			Complete the achievement for each week to be eligible to roll on of the 4 types of prizes listed below

		</br>

		<table class="table">
		        <thead>
		          <tr>
		            <th></th>
		            <th>Prizes</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <th scope="row">1</th>
		            <td>Tier 1</td>
		          </tr>
		          <tr>
		            <th scope="row">2</th>
		            <td>Tier 2</td>
		          </tr>
		          <tr>
		            <th scope="row">3</th>
		            <td>Tier 3</td>
		          </tr>
		          <tr>
		            <th scope="row">4</th>
		            <td>Tier 4</td>
		          </tr>		          
		        </tbody>
		      </table>

		</br>
			In addition, for ach of the games you win along the way to completeing your weekly achievement, you get a chance tow in 1 of 15 $5 prizes instantly.
		</h4>
	</div>

	<div class="col-md-6" style="margin-top: 50px;">
	      <% if @all_prize_desc.first == "$10 RP code" %>
	        <%= image_tag("10rp_image.jpg", size: "175x233") %>
	      <% elsif @all_prize_desc.first == "$11 RP code" %>
	        <%= image_tag("10rp_image.jpg", size: "175x233") %>
	      <% elsif @all_prize_desc.first == "Free Pizza from Domino's" %>
	        <%= image_tag("dominos_image.png", size: "212x147") %>
	      <% else %> 
	       <%= image_tag("kayle.jpg", size: "480x300") %>                
	      <% end %>
		<% if @all_prize_desc == []  %>
			<h2 class="">No prizes available for this postal code</h2>
			<%= button_to "Continue Anyway", summoner_path, :class => "btn btn-lg btn-primary", :method => :get  %>
		<% else %>

			<%= button_to "Start playing", summoner_path, :class => "btn btn-lg btn-primary", :method => :get, :style => "margin-top:20px;"  %>
		<% end %>
	</div>

</div>