<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1>Summoner Name: <%= @ignindex.summoner_name %></h1>
    </div>
  </div>
  
  <div class="col-md-4 col-md-offset-2">
    <div class="page-header">
      <% if @ignindex.summoner_validated %>
        <h1>Validated!</h1>
      <% else %>
        <h1>Not validated!</h1>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="btn-group">
      <%= form_for @ignindex do |t| %>
        <%= t.text_field :summoner_name %>
        <% if @ignindex.summoner_name.nil? %>
          <%= t.submit "Update Summoner Name" %>
        <% else %>
          <%= t.submit "Update Summoner Name", data: { confirm: "Pressing 'ok' removes validation from any of your past summoner names!" } %>
    </div>
  </div>
   <div class="col-md-4 col-md-offset-2">
    <div class="btn-group">
          <%= t.submit "Generate validation code" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="new-challenge2">
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3>How do I setup my summoner name?</h3>
      <ol>
        <li>Enter a summoner name and press 'generate validation code'</li>
        <li>Change the name of your 1st masteries page to match the code (within the time limit)</li>
        <li>Wait for the page to say "Validated!" (usually 1-2 minutes)</li>
        <li>Now we know this is your summoner, you can rename your mastery page</li>
      </ol>
     </div>
  </div>


  <div class="col-md-6">
    <div class="well">   
      <% if !@ignindex.validation_timer.nil? %>
        <h5>Validation code: <strong><%= @ignindex.validation_string %></strong></h5>
        <h4>Code valid for <%= ((300 - (Time.now.to_i - @ignindex.validation_timer))/60) %> more minutes!<h4>
      <% end %>
    </div>
  </div>
</div>
</div>
