<div data-id="<%= @ignindex.id %>" id="ign">
</div>

<script>



</script>


<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <% if @ignindex.summoner_name.nil? %>
       <h1><strong>Summoner:</strong> <i>empty</i></h1>
      <% else %>
      <h1><strong>Summoner: <%= @ignindex.summoner_name %></strong></h1>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="page-header">
      <div id="js_val">
        <% if @ignindex.summoner_validated == true %>
          <h1 class="validated"><strong>Validated!</strong></h1>
        <% else %>
          <h1 class="not-validated"><strong>Not validated!</strong></h1>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3>How do I add my summoner name?</h3>
      <ol>
        <li>Enter a summoner name and press <strong>Update Summoner Name</strong></li>
        <li>Press <strong>New validation code</strong></li>
        <li>Rename your 1st masteries page to match the validation code</li>
        <li>Make sure the name change saved (click anywhere, then back to the 1st mastery page)</li>
        <li>Wait for the page to say "Validated!" (usually 1-2 minutes)</li>
        <li>Afterwards, you can rename your mastery page</li>
      </ol>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="btn-group">
        <%= form_for @ignindex do |t| %>
          <%= t.text_field :summoner_name, :placeholder => 'Summoner name' %>
              </span>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">NA<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">North America</a></li>
                </ul>
              </span>
          <% if @ignindex.summoner_name.nil? %>
            <%= t.submit "Update Summoner Name", class: "btn btn-large btn-primary" %>
          <% else %>
            <%= t.submit "Update Summoner Name", data: { confirm: "Pressing 'ok' removes validation from any of your past summoner names!" }, class: "btn btn-large btn-primary" %>
      </div>
    </div>
  </div>
    
    <div class="col-md-2">
      <div class="gen-button">
        <div class="btn-group">
                <% if @ignindex.summoner_validated %>
                <% elsif @ignindex.summoner_name == "" %>
                <% else %>
                  <%= t.submit "New validation code", class: "btn btn-large btn-primary" %>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  <div>
    <div class="col-md-4">
        <% if !@ignindex.validation_timer.nil? %>
      <div class="well">   
          <h5>Validation code: <strong><%= @ignindex.validation_string %></strong></h5>
          <% if !@ignindex.mastery_1_name.nil? %>
            <h5>Current 1st page: <strong>  <%= @ignindex.mastery_1_name %></strong></h5>
          <% else %>
          <% end %>
          <h5>
            Code valid for 
              <span id="test_cd" data-timer="<%= @ignindex.validation_timer %>">
                <%= ((300 - (Time.now.to_i - @ignindex.validation_timer))/60) %> more minutes!
              </span>
          </h5>
          <h6>(next check in ~
            <span id="check_loop" data-check="<%= @ignindex.updated_at.to_i %>">
              <%= 60 - ((Time.now.to_i - @ignindex.updated_at.to_i) % 60) %>
            </span> seconds)
          </h6>      
      </div>
        <% end %>
    </div>
  </div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>