<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1><strong>Summoner Name: <%= @ignindex.summoner_name %></strong></h1>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="page-header">
      <% if @ignindex.summoner_validated %>
        <h1 class="validated"><strong>Validated!</strong></h1>
      <% else %>
        <h1 class="not-validated"><strong>Not validated!</strong></h1>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <div class="btn-group">
        <%= form_for @ignindex do |t| %>
          <%= t.text_field :summoner_name %>
          <% if @ignindex.summoner_name.nil? %>
            <%= t.submit "Update Summoner Name", class: "btn btn-large btn-primary" %>
          <% else %>
            <%= t.submit "Update Summoner Name", data: { confirm: "Pressing 'ok' removes validation from any of your past summoner names!" }, class: "btn btn-large btn-primary" %>
      </div>
    </div>
  </div>
   <div class="col-md-4 col-md-offset-2">
    <div class="btn-group">
          <% if @ignindex.summoner_validated %>
          <% else %>
            <%= t.submit "Generate validation code", class: "btn btn-large btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="new-challenge2">
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3>How do I setup my summoner name?</h3>
      <ol>
        <li>Enter a summoner name and press 'generate validation code'</li>
        <li>Change the name of your 1st masteries page to match the code (within the time limit)</li>
        <li>Wait for the page to say "Validated!" (usually 1-2 minutes)</li>
        <li>Afterwards, you can rename your mastery page</li>
      </ol>
     </div>
  </div>


  <div class="col-md-6">
    <div class="well">   
      <% if !@ignindex.validation_timer.nil? %>
        <h5>Validation code: <strong><%= @ignindex.validation_string %></strong></h5>
        <h4>Code valid for <%= ((300 - (Time.now.to_i - @ignindex.validation_timer))/60) %> more minutes!<h4>
      <% end %>
    </div>
  </div>
</div>
</div>
