     
<div class="row">
	<div class="teaser-context">

	<h1 class="text-center">Win  a Free Pizza for Playing League of Legends</h1>
	<h5 class="text-center">Rewards from your local Restaurants</h5>

		<div class="col-md-12"  style="margin-top: 40px">
		  	<div class="col-md-6">

		  		<div class="row" style="margin-bottom:20px;">
					<div class="col-md-1 col-md-offset-3 intro-square2" style="margin-bottom: 0px;">
						<h4>1</h4>
					</div>
					<div class="col-md-6 col-md-offset-0 intro-square" style="margin-bottom: 0px;">
						<h4>Pick Challenge</h4>
					</div>
		  		</div>

		  		<div class="row" style="margin-bottom:20px;">
					<div class="col-md-1 col-md-offset-3 intro-diamond2" style="margin-bottom: 0px;">
						<h4>2</h4>
					</div>
					<div class="col-md-6 col-md-offset-0 intro-diamond" style="margin-bottom: 0px;">
						<h4>Play League</h4>
					</div>
		  		</div>	 

		  		<div class="row" style="margin-bottom:20px;">
					<div class="col-md-1 col-md-offset-3 intro-square2" style="margin-bottom: 0px;">
						<h4>3</h4>
					</div>			
					<div class="col-md-6 col-md-offset-0 intro-square" style="margin-bottom: 0px;">
						<h4>Win Pizza</h4>
					</div>
		  		</div>

		  		<div class="row" style="margin-bottom:20px;">
					<div class="col-md-1 col-md-offset-3 intro-square2" style="margin-bottom: 0px;">
						<h4>4</h4>
					</div>
					<div class="col-md-6 col-md-offset-0 intro-square" style="margin-bottom: 0px;">
						<h4>Repeat</h4>
					</div>

		  		</div>		  		

		  	</div>

		    <div class="col-md-3 col-md-offset-1">
		    	<div class="text-center">
			    	<% if user_signed_in? %>
				    	<%= button_to "Start Now", new_status_path, :class => "btn btn-lprimary home-button", :method => :get  %>
			    	<% else %>

			    		<div class="lwell">
			    			<h3 style="margin-top: 0px;">See what you can win in your area</h3>

							<%= form_for @ignindex, :html => { :id => '' } do |t| %>
								<h5 class="text-left" style="margin-bottom: 0px; margin-top: 20px;">Postal/Zip Code</h5>
								<%= t.text_field :postal_code, :placeholder => 'M5R', class: "form-control input-md" %>
								<%= t.submit "Search", class: "btn btn-large btn-lprimary lp-search" %>
							<% end %>
						    <h6 class="">(CAN uses first 3-digits, US uses first 5-digits)</h6>


			    		</div>


			    	<% end %>
		    	</div>
		    </div>
		</div>

	</div>
</div>

<div class="row" style="border-top: 2px solid black; margin-top: 100px;">
	<h1 class="page-header text-center">Cora Pizza in Toronto</h1>
</div>
<div class="row">
	<div class="col-md-6">
      <h4>
        Starting June 15th Cora Pizza will be rewarding your in-game acheivements with pizza. <br/><br/>Cora Pizza loves gamers, and will be experimenting with rewarding your League of Legends games with pizza. So check them out!
      </h4>	
      <div class="text-center">
      <%= link_to "Learn More", current_achievement_url, :class=>"btn btn-lprimary", :style=>"color:white;" %>
      </div>
	</div>
    <div class="col-md-6">
      <a href="http://www.corapizza.com">
        <%= image_tag("cora1.jpg", size: "500x225") %>    
      </a>
     <div class="text-center" style="margin-top: 40px">
        <h4>656A Spadina Av</h4>
        <h4>Toronto, ON M5S 2H7</h4>
        <h4>(416) 922-1188</h4>
        <h4>www.corapizza.com</h4>
      </div>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>