<section id="top" >
	<div class="container" >
		<div class="teaser-context  text-center" >
			<div class="custom-header">
				<h1 class="text-center" style="color: white;"><strong>Win  a Free Pizza for Playing League of Legends</strong></h1>
				<h4 class="text-center" style="color: white;">Rewards from your local Restaurants</h4>
			</div>

			<div class="col-md-12 col-md-offset-0"  style="margin-top: 40px">

			  		<div class="row" style="margin-bottom:20px;">

						<div class="col-md-4 col-md-offset-4 intro-square2" style="margin-bottom: 0px;">
							<h4>Play League</h4>
						</div>
			  		</div>	 

			  		<div class="row" style="margin-bottom:20px;">
		
						<div class="col-md-4 col-md-offset-4 intro-square2" style="margin-bottom: 0px;">
							<h4>Win Pizza</h4>
						</div>
			  		</div>

			  		<div class="row" style="margin-bottom:150px;">

			  			<%= link_to "Get Started", setup_path, :class=>"col-md-4 col-md-offset-4 btn btn-large btn-lprimary ", :style=>"color:white; font-size: 20px;" %>		
						</div>
			  		</div>		  		
			</div>
		</div>
	</div>
</section>

<section id="setup">
		<div class="setup-background">

			<div class="container-fluid">
				<div class="row text-center">

					<h1 class="">Setup is super easy</h1>
					
					<div class="col-md-6 col-md-offset-3">

						<div id="setup_progress_bar">
							<div class="breadcrumb-trail">

								<div class="breadcrumbs">
								    <div class="breadcrumb-cell first">
									   		<div id="bread_1" class="breadcrumb checked selectable">
										    	<div class="breadcrumb-icon"></div>
									    	<span class="breadcrumb-label">1) Postal Code</span>
								     	</div>
								    </div>

								    <div class="breadcrumb-cell">
											<div id="bread_2" class="breadcrumb checked selectable">
											<div class="breadcrumb-icon"></div>			    	
											<span class="breadcrumb-label">2) Choose Prize</span>
										</div>
								    </div> 
									     						    

								    <div class="breadcrumb-cell last">

								   		<div id="bread_3" class="breadcrumb active">
										<div class="breadcrumb-icon"></div>
										<span class="breadcrumb-label">3) Summoner Name</span>
										</div>
								    </div>       

							  </div>
							</div>	
						</div>			

					</div>

				</div>

			</div>
		</div>
		<div class="container">
		<%= render 'staticpages/teaser_step3' %>
	</div>
</section>

<section id="playing">
	<div class="setup-background-2">
		<h1 class="text-center" style="color:white;" >Earn more for games you are already playing</h1>
	</div>
	<div class="row" style="margin-top: 20px;" >
		<div class="container">
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 style="marign-top: 0px;">The Challenge</h3>
					</div>
					<div class="panel-body">
						<%= render 'staticpages/teaser_challenge' %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3>Play for Challenge</h3>
					</div>
					<div class="panel-body">
						<%= render 'staticpages/teaser_gamerunning' %>
					</div>					
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3>Win & Repeat</h3>
					</div>
					<div class="panel-body">
						<%= image_tag("lol-victory2.png", size: "", class: "resize_fit_center") %>
					</div>					
				</div>
			</div>
		</div>
	</div>
</section>

<section id="winning">
	<div class="setup-background-2">
		<h1 class="text-center" style="color:white;" >Complete Challenges and get prizes</h1>
	</div>

  <div class="background-history2">

    <!-- sketch #6 -->
    <div class="container">
      <div class="" style="">
        
        <div class="row">
          <div class="prize-panel">
            <div class="prize-panel-heading">
              <div class="row", style="">
                <div class="col-md-10">
                  <h1 class="text-left" style="color: white;"><strong>Cora Pizza</strong> - <i>League of Legends</i></h1>
                </div>
                
                <div class="col-md-2 text-right">
                  <h1>
                  <div id="" class="btn btn-large btn-ldisabled">See Game History</div>
                  </h1>
                </div>
              </div>
            </div>

            <div class="prize-panel-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-0">

                  <div class="coupon-box">
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                        <div class="coupon-image see-me" style="background: white;">
                          <div class="row">
                            
                            <div class="col-md-4">
                              <%= image_tag("cora3.jpg", class: "reward-logo ") %>
                            </div>
                            
                            <div class="col-md-8">
                              <h3 class="text-center" style="margin-top: 15px;"> <strong><%= "$20 off" %></strong> </h3>
                              <h3 class="text-center"><strong>Code: <%= "123abc" %></strong></h3>
                            </div>  


                          </div>
                          <div class="row">
                              <h5 class="text-center"><strong><i>Delivery or Walk-in</i></strong></h5>
                            <h5  class="text-center">416-922-1188 - 656A Spadina Av.</h5>                                                            
                            <h5 class="text-center">Expires 1/1/2016.</h5>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="text-center">
                      <%= image_tag("cora1.jpg", size: "500x225", class: "hist-image see-me") %>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>

        </div> 
        
      </div>
    </div>
  </div>

</section>

<section id="sponsor">

	<div class="setup-background-2">
		<h1 class="text-center" style="color:white;" >Featuring Local Restaurants</h1>
	</div>
	
	<div class="container">

		<div class="row" style="">
			<h1 class="text-left">Cora Pizza in Toronto</h1>
		</div>


		<div class="row">
			<div class="col-md-6">
		      <h4>Cora Pizza is currently offering Weekly Challenges to these areas in Toronto: M6G, M6J, M5R, M5S, M5T, M5G</h4><br/>
		      <h4>
		        Cora Pizza loves gamers, and will be experimenting with rewarding your League of Legends games with pizza. Starting June 15th Cora Pizza will be rewarding your in-game acheivements with pizza.
		      </h4>
		    </br>
		      <h4>
		        Since 1984, Cora Pizza's family-owned business has been satisfying Toronto appetites. Located Downtown Toronto, Cora Pizza offers gourmet specialty pizzas that are guaranteed to please your taste buds! 
		      </h4>
		      <div class="text-center">
		      <%= link_to "Learn More", current_achievement_url, :class=>"btn btn-lprimary", :style=>"color:white;" %>
		      </div>
			</div>
		    <div class="col-md-6">
		      <a href="http://www.corapizza.com">
		        <%= image_tag("cora1.jpg", class: "brand-banner", size: "500x225") %>    
		      </a>
		     <div class="text-center" style="margin-top: 40px">
		        <h4>656A Spadina Av</h4>
		        <h4>Toronto, ON M5S 2H7</h4>
		        <h4>(416) 922-1188</h4>
		        <h4>www.corapizza.com</h4>
		      </div>
		    </div>
		</div>
	</div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>