<div class="container-fluid">
	<div class="setup-background">

		<div class="row">

			<h1 class="text-center">Welcome! Let's get you ready to win some pizza</h1>
			
			<div class="col-md-6 col-md-offset-3">


				<div id="setup_progress_bar">
					<div class="breadcrumb-trail">
						<div class="breadcrumbs">
						    <div class="breadcrumb-cell first">
						    	<% if @setup_progress == 0 %>
								<div id="bread_1" class="breadcrumb active">				    	
						    	<% else %>
						   		<div id="bread_1" class="breadcrumb checked selectable">
						    	<% end %>
							    	<div class="breadcrumb-icon"></div>
							    	<span class="breadcrumb-label">Postal Code</span>
						     	</div>
						    </div>

						    <div class="breadcrumb-cell">
						    	<% if @setup_progress == 1 %>
								<div id="bread_2" class="breadcrumb active">				    	
						    	<% elsif @setup_progress > 1 %>
						   		<div id="bread_2" class="breadcrumb checked selectable">
						   		<% else %>
						   		<div id="bread_2" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Choose Prize</span>
								</div>
						    </div> 

						    <div class="breadcrumb-cell">
						    	<% if @setup_progress == 2 %>
								<div id="bread_2" class="breadcrumb active">				    	
						    	<% elsif @setup_progress > 2 %>
						   		<div id="bread_2" class="breadcrumb checked selectable">
						   		<% else %>
						   		<div id="bread_2" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Choose Game</span>
								</div>
						    </div>

						    <div class="breadcrumb-cell">
						    	<% if @setup_progress == 3 %>
								<div id="bread_2" class="breadcrumb active">				    	
						    	<% elsif @setup_progress > 3 %>
						   		<div id="bread_2" class="breadcrumb checked selectable">
						   		<% else %>
						   		<div id="bread_2" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Summoner Name</span>
								</div>
						    </div> 							     						    

						    <div class="breadcrumb-cell last">
						    	<% if @setup_progress == 4 %>
								<div id="bread_3" class="breadcrumb active">				    	
						   		<% else %>
						   		<div id="bread_3" class="breadcrumb">
						    	<% end %>
									<div class="breadcrumb-icon"></div>
									<span class="breadcrumb-label">Play</span>
								</div>
						    </div>       

					  </div>
					</div>	
				</div>			



			</div>

		</div>

	</div>
</div>



<div class="container-fluid absolute-margin">

	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<h3>Enter your postal code- so we can match you up with a pizza brand that can deliver to you</h3> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<% if @ignindex.errors.any? %>
			  <div id="error_explanation">
			    <h2><%= pluralize(@ignindex.errors.count, "error") %> prohibited this ignindex from being saved:</h2>
			 
			    <ul>
			    <% @ignindex.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>

			<div class="panel-heading">
			    <%= form_for @ignindex do |t| %>
			      <%= t.text_field :postal_code, :placeholder => 'Postal/Zip Code' %>
			        <span id="">
			      <%= t.submit "Add Postal/Zip Code", class: "btn btn-large btn-primary" %>
			        </span>
			    <% end %>

			    <h6>*US uses first 5-digits</h6>
			    <h6>*CAN uses first 3-digits</h6>
			</div>
		</div>
		<div class="col-md-3">
			<ul>
				CORA postal codes
				<li>M5R</li>
				<li>M5R</li>
				<li>M5R</li>
				<li>M5R</li>
				<li>M5R</li>
				<li>M5R</li>
				<li>M5R</li>
			</ul>
		</div>
		<div class="col-md-3">
			<%= image_tag("kayle.jpg", size: "240x150") %> 
		</div>
	</div>

</div>