<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @ignindex.user_id %>
</p>

<p>
  <strong>Summoner name:</strong>
  <%= @ignindex.summoner_name %>
</p>

<p>
  <strong>Summoner:</strong>
  <%= @ignindex.summoner_id %>
</p>

<p>
  <strong>Summoner validated:</strong>
  <%= @ignindex.summoner_validated %>
</p>

<p>
  <strong>Validation string:</strong>
  <%= @ignindex.validation_string %>
</p>

<p>
  <strong>Validation timer:</strong>
  <%= @ignindex.validation_timer %>
</p>

<%= link_to 'Edit', edit_ignindex_path(@ignindex) %> |
<%= link_to 'Back', ignindices_path %>
