<div class="col-md-10 col-md-offset-1">
  <div class="well">
    <div class="row">
      <div class="col-md-1">
        <%= simple_form_for @achievement do |f| %>
          <%= f.input :challenge_id, :as => :hidden, :input_html => { :value => x.id } %>
          <%= f.button :submit, "Select", class: "btn btn-lprimary", style: "margin-top: 65px;" %>
        <% end %>      
      </div>
      <div class="col-md-5">
          <h2 style="margin-top: 0px; margin-bottom: 5px;"><u><%= x.name %></u></h2>
          <h4 style="margin-top: 0px; margin-bottom: 30px;">
              <i data="<%= x.id %>">
              <% if x.local_prizing %>
              Prizing Weekly
              <% else %>
              No Prizing, just for fun :)
              <% end %>
              </i>
          </h4>

        <% e = 0 %>
        <% if !x.can_spell_name.nil? %>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-12">
            <% e = e+1 %>
            <%= e %>) Spell "<%= x.can_spell_name %>" with the names of champions<br/>
            (e.g. <strong>C</strong>orki, <strong>O</strong>laf, <strong>R</strong>yze, <strong>A</strong>zir)
          </div>            
        </div>
        <% end %>

        <% if !x.wins_required.nil? %>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-12">
            <% e = e+1 %>
            <%= e %>) Win <%= x.wins_required %> games
          </div>
        </div>
        <% end %>

        <% if !x.con_wins_required.nil? %>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-12">
            <% e = e+1 %>
            <%= e %>) Win <%= x.con_wins_required %> games in a row
          </div>
        </div>
        <% end %>


        <div class="row" style="margin-top:25px;">
          <% if x.merchant == "Cora Pizza" %>
            <%= link_to "Learn More", current_achievement_path, :class => "", :method => :get, :style => "margin-top: 50px;"   %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">

        <div class="row text-right" style="margin-right:20px">
          <h2 class="" style="margin-top: 0px; margin-bottom: 5px; margin-right: 0px;">
            <i><%= x.merchant %></i>
          </h2>          
          <% if x.merchant == "Cora Pizza" %>
            <%= image_tag("cora1.jpg", size: "375x168", class: "brand-banner") %>
          <% else %>
            <%= image_tag("front-cover.jpg", size: "375x168", class: "brand-banner") %>
          <% end %>
        </div>
      </div>  
    </div>
  </div>
</div>

