<section id="current-challenges">
	<div class="container">
		<h1 class="text-left" style="color: white;"><strong>Your Current Challenge</strong></h1>
		<% @active.each do |x| %>
			<div class="row">
				<%= render 'current_block', :x => x, :active => 1 %>
			</div>
		<% end %>
	</div>
</section>

<section id="new-challenges">
	<div class="container">
		<h1 class="text-left" style="color: white;"><strong>Other Challenges Available (<%= @ignindex.region.postal_code %>)</strong></h1>
		<% if !@achievements.empty? %>
			<% @achievements.each do |x| %>
			<div class="row">
				<%= render 'current_block', :x => x %>
			</div>
			<% end %>
		<% end %>
		
		<% if !@challenges_local.empty? %>
			<% @challenges_local.each do |x| %>
				<div class="row">
					<%= render 'new_block', :x => x %>
				</div>
			<% end %>
		<% end %>
		
		<% if !@challenges_global.empty? %>	
			<% @challenges_global.each do |x| %>
				<div class="row">
					<%= render 'new_block', :x => x %>
				</div>
			<% end %>
		<% end %>
	</div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57285202-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>