<!DOCTYPE html>
<html lang="en">
<head>
	<title>i'llBePro</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

	<nav class="navbar navbar-ltheme navbar-fixed-top no-border" role="navigation">

		<div class="navbar-inner">
			<div class="container">
					
				<a class="navbar-brand" href="/"><strong>i'llBePro</strong></a>
		
				<ul class="nav navbar-nav list-inline col-sm-3 col-sm-4 text-center ">
					<li><a href="/leaderboard">LeaderBoard</a></li>
                    <li><a href="/scores">Prizes</a></li>
				</ul>


				<% if user_signed_in? %>
					<ul class="nav navbar-nav list-inline col-md-1 navbar-right" >

					<li><%= button_to "Log Out", logout_path, :class => "btn btn-danger navbar-btn col-sm-offset-0", :method => :get  %></li>
				<% else %>
				
					<ul class="nav navbar-nav list-inline col-md-2 navbar-right" >

	            	<li><a href="/register">Sign up</a></li>
					
					<li>
				        <form action="/login" class="button_to" method="get">
				            <div>
				            	<input class="btn btn-lprimary navbar-btn" type="submit" value="Log in" />
				            </div>
				        </form>
	            	</li>	            	
				<% end %>
				</ul>

			</div>
		</div>
	</nav>
		
	<div class="">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %> alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= message %>
			</div>
		<% end %>
		<%= yield %>
	</div>


<footer class="footer"> 
  	<div class="">

  		<nav class="navbar navbar-inverse navbar-bottom no-border" style="margin-bottom: 0px; border-radius: 0px;" role="navigation">
  			<div class="container">
	  			<ul class="nav navbar-nav list-inline col-xs-6 col-sm-6 text-center">		
					<li class="custom-footer"><a href="/about">About</a></li>
					<li class="custom-footer"><a href="/faq">FAQ</a></li>
					<li class="custom-footer"><a href="/contact">Contact</a></li>
					<li class="custom-footer"><a href="/privacy">Privacy</a></li>
				</ul>
				<ul class="nav navbar-nav col-xs-auto col-sm-3 list-unstyled navbar-right">
					<li><a href="https://www.facebook.com/pages/illBePro/398138583682058"><i class="fa fa-facebook-square fa-2x"></i></a></li>
					<li class=""><a href="#">illBePro Copyright (c) 2015</p></a></li>
				</ul>
  			</div>

  			<div class="container">
	  			<p class="text-center" style="color: grey;">illbepro is not endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. </p>				
  			</div>
  
		</nav>

  	</div>
</footer>

</body>
</html>