<!DOCTYPE html>
<html>
<head>
  <title>i'llBePro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="container">
					
				<a class="navbar-brand" href="/"><strong>i'llBePro</strong></a>
		

		<ul class="nav navbar-nav col-xs-auto col-sm-4 list-unstyled pull-right" >

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">League of Legends<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">League of Legends</a></li>
			          </ul>
			        </li>

			<% if user_signed_in? %>
				<li><%= link_to current_user.profile_name, summoner_path %></li>			
				<li><%= button_to "Sign Out", logout_path, :class => "btn btn-danger navbar-btn", :method => :get  %></li>
			<% else %>
				
				<li class="pull-right">
			        <form action="/login" class="button_to" method="get">
			            <div>
			            	<input class="btn btn-info navbar-btn" type="submit" value="Sign in" />
			            </div>
			        </form>
            	</li>

            	<li class="pull-right"><a href="/register">Sign up</a></li>

			<% end %>
			</ul>	
				<ul class="nav navbar-nav list-inline col-sm-12 col-sm-6 text-center">
       


					<% if user_signed_in? %>
						<% if summoner_onboarding %>
							<li><a href="/summoner">Summoner</a></li>
						<% else %>
							<li><a href="/summoner" style="color:red">1) Add Summoner</a></li>
						<% end %>
						<% if challenge_onboarding > 0 %>
							<li><a href="/challenges">Challenges</a></li>							
						<% else %>
							<li><a href="/challenges" style="color:red">2) Start a challenge</a></li>
						<% end %>
					<% else %>
	                    <li><a href="/teaser_summoner">Summoner</a></li>
	                    <li><a href="/teaser_challenges">Challenges</a></li>
					<% end %>
					<li><a href="/prizes">Prizes</a></li>
					<li><a href="/scores">Leaderboard</a></li>


				</ul>
			</div>
		</div>
	</nav>
		
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %> alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<%= message %>
				</div>
		<% end %>

		<%= yield %>
	</div>





<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation"> 
  	<div class="container">

  			<ul class="nav navbar-nav list-inline col-xs-12 col-sm-6 text-center">		
				<li class="custom-footer"><a href="/pages/about">About</a></li>
				<li class="custom-footer"><a href="/pages/faq">FAQ</a></li>
				<li class="custom-footer"><a href="/pages/contact">Contact</a></li>
				<li class="custom-footer"><a href="/pages/privacy">Privacy</a></li>
			</ul>
			<ul class="nav navbar-nav col-xs-auto col-sm-3 list-unstyled pull-right">
				<li><a href="https://twitter.com/illBeProRewards"><i class="fa fa-twitter fa-2x"></i></a></li>
				<li><a href="https://www.facebook.com/pages/illBePro/398138583682058"><i class="fa fa-facebook-square fa-2x"></i></a></li>
				<li class="pull-right"><p class="text-center">Tangible Gameworks</br> Copyright (c) 2015</p></li>
			</ul>

  	</div>
</nav>

</body>
</html>