<!DOCTYPE html>
<html>
<head>
  <title>YoloQueue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<ul class="navbar-text navbar-right">
			<% if user_signed_in? %>
				<%= link_to current_user.profile_name, edit_user_registration_path %>
				<button type="button"><%= link_to "Sign Out", logout_path %></button>
			<% else %>
				<li><%= link_to "Register", register_path %></li>
				<button type="button"><%= link_to "Sign in", login_path %></button>
			<% end %>

		</ul>
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav navbar-nav">
					<a class="navbar-brand" href=""> HeroMenu </a>
					<li><%= link_to "Challenges", challenges_path %></li>
					<li><%= link_to "Summoner", ignindices_path %></li>
					<li><%= link_to "Scoreboard", scores_path %></li>
				</ul>
				</div>
			</div>
		</nav>
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %> alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<%= message %>
				</div>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
  		<div class="col-md-4" >
			 <%= link_to 'About', page_path('about') %>
			 <%= link_to 'FAQ', page_path('faq') %>
			 <%= link_to 'Contact', page_path('contact') %>
		</div>
  	<div class="col-md-4" >
  	    <p class="text-right">a Andrew Klotz production</p>
	    <p class="text-right">Copyright (c) 2014</p>
	</div>
  </div>
</nav>
